@use '../global/utils.scss' as *;

body {
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}

.container {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1186px;
  margin: 0 auto;

  @media (max-width: 500px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.page-header {
  position: relative;

  height: 200px;
  display: flex;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;

  margin-bottom: responsive(375px, 1440px, 72px, 144px);

  
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: url('images/circles.svg') 103% 72% no-repeat;

      @media (max-width: 768px) {
        display: none;
      }
    }
}

.page-heading {
  text-align: left;
  color: white;
  width: 100%;

  @media (max-width: 768px) {
    text-align: center;
  }
}