@use '../global/utils.scss' as *;

.careers {
  margin-bottom: responsive(768px, 1440px, 120px, 160px);
  @media (max-width: 768px) {
    margin-bottom: responsive(375px, 768px, 110px, 120px);
  }

  &__applications {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    margin-top: 145px;
  }
}

.application {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  padding: 34px 48px 33px 48px;
  color: var(--color-dark-navy);
  background-color: var(--color-snow);

  &__left {
    flex-grow: 1;
  }

  &__right {
    flex-grow: 0;
  }

  &__position {
    margin-bottom: 8px;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    text-align: center;
    gap: 16px;

    &__right, &__button {
      width: 100%;
      max-width: 300px;
    }
  }
}